/* RESET */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */

*{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}


button{
    cursor: pointer;
    padding: 5px 10px;
}

.button-blue-bg{
    background-color:#0061FF;
    color: white;
    border: none;
}

.button-no-bg{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    
}

.button-white-bg{
    background-color: white;
    color: black;
    border: none;
}

p, form{
    font-size: 13px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.col{
    display: flex;
    flex-wrap: wrap;
}

.big-container{
    width: 1000px;
    margin: 0 auto;
}


.small-container{
    width: 800px;
    margin: 0 auto;
}

h2{
    font-size: 2em;
}

.a-special{
    font-size: 13px;
    color: blue;
}


/* HEADER */

header .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

header .header-top .header-top-nav {
    display: flex;
    align-items: center;
}

header .header-top .header-top-nav *{
    margin-left: 10px;
    font-size: 15px;
}

header .header-bottom{
    background-color: #B4D0E7;
    padding: 50px 0;
    height: 600px;
}

header .header-bottom .big-container *{
    text-align: left;
}

header .header-bottom .big-container h1{
    font-size: 4em;
    font-weight: 800;
}

header .header-bottom .big-container .row .row-left{
    width: calc(100% - 70%) ;
}


header .header-bottom .big-container .row .row-left *{
    margin-bottom: 40px;
}

header .header-bottom .big-container .row .row-left > a{
    font-size: 3em;
}

header .header-bottom .big-container .row .row-right{
    width: calc(100% - 30%);
}

header .header-bottom .big-container .row .row-right img{
    width: 100%
}

header .header-top .header-top-nav ul li{
    display: inline-block;
}

header a{
    text-decoration: none;
    color: black;
}


/* MAIN */

.box .title-box{
    text-align: center;
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

main .small-container{
    margin-top: 80px;
}

main .small-container  *{
    margin-bottom: 10px;
}

main .row-section .row > *{
    width: calc(100% / 3);
}

/* MAIN SECTION 1 */

main .row-section .row .box{
    width: calc((100% / 3) - 20px);
}

.box{
    border: 1px solid black;
    padding: 20px;
    margin: 0 10px;
}

.box ul{
    margin: 40px 0;
}

.box ul li {
    font-size: 13px;
}

.box small .price{
    font-weight: bold;
}

.box small .months{
    color: rgba(0, 0, 0, 0.388);
}

hr{
    margin: 30px 0;
}

.fa-check{
    color: blue;
}

.box.simple-section p{
    margin-top: 50px;
}


/* MAIN SECTION 2 */

main .simple-section{
    display: flex;
    justify-content: space-between;
}

main .simple-section .left{
   width: 65%;
}

main .simple-section .left img{
    width: 100%;
 }

main .simple-section .right{
    padding-top: 50px;
    width: 30%;
}


/* MAIN SECTION 3 */

main .row-section.small-container .row img{
    width: 100%;
}

main .row-section.small-container .row h3{
    margin-left: 10px;
}

main .row-section.small-container .row p{
    margin-left: 10px;
}


/* MAIN SECTION 4 */

.special.small-container h2{
    margin-bottom: 50px;
}


/* MAIN SECTION 5 */

.col{
    display: flex;
    flex-wrap: wrap;
}

.col-image{
    width: calc(100% / 2);
    padding: 100px;
    position: relative;
}

.col-image img{
    width: 50%;
    filter:  grayscale(1) invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.design-bg{
    background-color: #A2D39B;
}

.arizona-bg{
    background-color: #5D0325;
}

.florida-bg{
    background-color: #0093CE;
}

.topps-bg{
    background-color: #FF1C1C;
}

.grey-bg{
    background-color: #F5F5F5;
}

.world-bg{
    background-color: #D5001F;
}

.hearts-bg{
    background-color: #B4D0E7;
}

.lonely-bg{
    background-color: #0D2481;
}

.clear-bg{
    background-color: #f3f302;
}

.col > *{
  padding: 40px;
  
}


/* MAIN SECTION 6 */

.special-bg{
    background-color: #B4D0E7;
    padding: 50px 0;
}

.special-bg h2{
    width: 50%;
    color: #61082B;
}.

.special-bg button{
    width: 30%;   
}


/* MAIN SECTION 7 */

.small-container .questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions a{
    text-decoration: none;
    color: black;
}





/* DEBUG */



